Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

Path conditions:
  test-all: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*, ingest/**/*, scripts/**/*, ingest-mongodb-public/**/*, chatbot-server-mongodb-public/**/*
  staging-build-chat-server: any of: chat-server/**/*, chatbot-server-mongodb-public/**/*, chat-core/**/*, chat-ui/**/*
  staging-deploy-chatbot-server-mongodb-public: any of: chat-server/**/*, chatbot-server-mongodb-public/**/*, chat-core/**/*, chat-ui/**/*
  staging-build-ingest-mongodb-public: any of: ingest/**/*, ingest-mongodb-public/**/*, chat-core/**/*
  staging-deploy-ingest-mongodb-public: any of: ingest/**/*, ingest-mongodb-public/**/*, chat-core/**/*
  staging-build-scripts-service: any of: scripts/**/*, chat-core/**/*, chat-server/**/*
  staging-deploy-scripts-service: any of: scripts/**/*, chat-core/**/*, chat-server/**/*

stub out university import
  ingest/src/sources/index.ts
  ingest/src/sources/mongodb-university/FetchUniversityPagesFunc.ts
  ingest/src/sources/mongodb-university/MongoDbUniversityDataApiClient.test.ts
  ingest/src/sources/mongodb-university/MongoDbUniversityDataApiClient.ts
  ingest/src/sources/mongodb-university/MongoDbUniversityDataSource.test.ts
  ingest/src/sources/mongodb-university/MongoDbUniversityDataSource.ts
  ingest/src/sources/mongodb-university/index.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

add uni data api client
  ingest/.env.example
  ingest/src/sources/mongodb-university/FetchUniversityPagesFunc.ts
  ingest/src/sources/mongodb-university/MongoDbUniversityDataApiClient.test.ts
  ingest/src/sources/mongodb-university/MongoDbUniversityDataApiClient.ts
  ingest/src/sources/mongodb-university/MongoDbUniversityDataSource.test.ts
  ingest/src/sources/mongodb-university/MongoDbUniversityDataSource.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

add makeUniversityPages() helper func
  ingest/src/sources/mongodb-university/FetchUniversityPagesFunc.ts
  ingest/src/sources/mongodb-university/MongoDbUniversityDataSource.ts
  ingest/src/sources/mongodb-university/makeUniversityPages.test.ts
  ingest/src/sources/mongodb-university/makeUniversityPages.ts
  ingest/testData/sampleUniversityCatalog.json
  ingest/testData/sampleUniversityVideoTranscript.srt
  ingest/testData/sampleUniversityVideoTranscript.txt
  ingest/testData/sampleUniversityVideos.json
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

stub out MongoDbUniversityDataSource tests
  ingest/src/sources/mongodb-university/MongoDbUniversityDataSource.test.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

all tests passing on data source
  ingest/src/sources/mongodb-university/MongoDbUniversityDataApiClient.ts
  ingest/src/sources/mongodb-university/MongoDbUniversityDataSource.test.ts
  ingest/src/sources/mongodb-university/MongoDbUniversityDataSource.ts
  ingest/src/sources/mongodb-university/makeUniversityPages.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

update .env.example files
  ingest-mongodb-public/.env.example
  ingest/.env.example
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

include pre-defined public data filter func
  ingest-mongodb-public/src/sources.ts
  ingest/src/sources/mongodb-university/MongoDbUniversityDataSource.test.ts
  ingest/src/sources/mongodb-university/MongoDbUniversityDataSource.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

add CI/k8s env vars
  .drone.yml
  ingest-mongodb-public/environments/production.yml
  ingest-mongodb-public/environments/staging.yml
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

fix TS build err w metadata
  ingest/src/sources/mongodb-university/MongoDbUniversityDataSource.ts
  ingest/src/sources/mongodb-university/makeUniversityPages.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

implement uni platform feedback
  ingest/src/sources/mongodb-university/MongoDbUniversityDataApiClient.ts
  ingest/src/sources/mongodb-university/MongoDbUniversityDataSource.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

implement NL feedback
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
  chat-server/src/routes/conversations/conversationsRouter.ts
  chat-server/src/routes/conversations/createConversation.test.ts
  chat-server/src/routes/conversations/createConversation.ts
  chat-server/src/services/conversations.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

wip
  docs-example-generator/build/bluehawkify.js
  docs-example-generator/examples/inputs/updateMany.js
  docs-example-generator/examples/inputs/updateMany.ts
  docs-example-generator/examples/inputs/updateOne.js
  docs-example-generator/examples/inputs/updateOne.ts
  docs-example-generator/package.json
  docs-example-generator/src/bluehawkify.ts
  docs-example-generator/src/code2code.ts
Due: none

(EAI-145) [UI] InputBar does not add newlines on shift+enter
  chat-ui/package.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-138): Refactor origin handling, add custom conversation data logic, add conversations middleware (#244)
  chat-server/package.json
  chat-server/src/index.ts
  chat-server/src/middleware/index.ts
  chat-server/src/middleware/requireRequestOrigin.test.ts
  chat-server/src/middleware/requireRequestOrigin.ts
  chat-server/src/middleware/requireValidIpAddress.test.ts
  chat-server/src/middleware/requireValidIpAddress.ts
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
  chat-server/src/routes/conversations/addMessageToConversation.ts
  chat-server/src/routes/conversations/conversationsRouter.test.ts
  chat-server/src/routes/conversations/conversationsRouter.ts
  chat-server/src/routes/conversations/createConversation.test.ts
  chat-server/src/routes/conversations/createConversation.ts
  chat-server/src/routes/conversations/rateMessage.test.ts
  chat-server/src/routes/conversations/rateMessage.ts
  chat-server/src/services/conversations.test.ts
  chat-server/src/services/conversations.ts
  chat-server/src/test/middlewareTestHelpers.ts
  chatbot-server-mongodb-public/src/llmQualitativeTests/generateChatTranscript.ts
  docs/docs/server/openapi.yaml
  package-lock.json
  scripts/src/scrubMessages.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

add functional filter to GH data source
  ingest/src/sources/GitHubDataSource.ts
  ingest/src/sources/MdOnGithubDataSource.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

add prisma data source
  ingest-mongodb-public/src/sources/index.ts
  ingest-mongodb-public/src/sources/prisma.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

add testing utility scripts to package.json
  ingest-mongodb-public/package.json
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

(EAI-150) [UI] change "Further Reading" in chatbot response to "Related Resources"
  chat-ui/src/services/conversations.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

add test
  ingest/src/sources/GitHubDataSource.test.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

fix test
  chat-ui/src/services/conversations.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Create sampleMdxFile.mdx
  ingest/testData/sampleMdxFile.mdx
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

test .mdx works
  ingest/src/sources/MdOnGithubDataSource.test.ts
  ingest/src/sources/MdOnGithubDataSource.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

Update ingest-mongodb-public/src/sources/index.ts
  ingest-mongodb-public/src/sources/index.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

add WiredTiger data source
  ingest-mongodb-public/package.json
  ingest-mongodb-public/src/sources.ts
  ingest-mongodb-public/src/sources/wiredTiger.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

(EAI-150) [UI] change "Further Reading" in chatbot response to "Related Resources" (#249)
  chat-ui/src/services/conversations.test.ts
  chat-ui/src/services/conversations.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-145) InputBar adds newlines on shift+enter (#248)
  chat-ui/package.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Upgrade lockfile
  package-lock.json
Due: none

Release chat-ui v0.1.2
  chat-ui/package.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

implement reviewer feedback
  ingest-mongodb-public/src/sources.ts
  ingest/src/sources/mongodb-university/MongoDbUniversityDataApiClient.ts
  ingest/src/sources/mongodb-university/MongoDbUniversityDataSource.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

(EAI-28): Ingest MongoDB University transcript content (#247)
  .drone.yml
  ingest-mongodb-public/.env.example
  ingest-mongodb-public/environments/production.yml
  ingest-mongodb-public/environments/staging.yml
  ingest-mongodb-public/src/sources.ts
  ingest/.env.example
  ingest/src/sources/index.ts
  ingest/src/sources/mongodb-university/MongoDbUniversityDataApiClient.test.ts
  ingest/src/sources/mongodb-university/MongoDbUniversityDataApiClient.ts
  ingest/src/sources/mongodb-university/MongoDbUniversityDataSource.test.ts
  ingest/src/sources/mongodb-university/MongoDbUniversityDataSource.ts
  ingest/src/sources/mongodb-university/index.ts
  ingest/src/sources/mongodb-university/makeUniversityPages.test.ts
  ingest/src/sources/mongodb-university/makeUniversityPages.ts
  ingest/testData/sampleUniversityCatalog.json
  ingest/testData/sampleUniversityVideoTranscript.srt
  ingest/testData/sampleUniversityVideoTranscript.txt
  ingest/testData/sampleUniversityVideos.json
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

Release mongodb-chatbot-server v0.2.0
  chat-server/package.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

update lock file
  package-lock.json
Due: none

Release mongodb-chatbot-server v0.2.0 (#252)
  chat-server/package.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

Fix broken dep
  package-lock.json
  scripts/package.json
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

fix to use local versioning
  chatbot-server-mongodb-public/package.json
  package-lock.json
  scripts/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

Fix broken CI (#253)
  chatbot-server-mongodb-public/package.json
  package-lock.json
  scripts/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

Release mongodb-rag-core v0.1.0
  chat-core/package.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

update env var
  .drone.yml
Due: none

use latest core version
  chat-server/package.json
  ingest-mongodb-public/package.json
  ingest/package.json
  package-lock.json
  scripts/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

create pre-release
  chat-core/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service
