Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

test-all:
  steps:
  - name: test
    image: node:18
    commands:
    - npm ci
    - npm run build
    - npm run lint
    - npm run test
    environment:
      PORT: 3000
      OPENAI_EMBEDDING_MODEL: text-embedding-ada-002
      OPENAI_EMBEDDING_MODEL_VERSION: 2023-03-15-preview
      MONGODB_DATABASE_NAME: docs-chatbot-test
  ...

staging-build-chat-server:
  steps:
  - name: publish-staging-chat-server
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_PASSWORD:
        from_secret: lg_artifactory_password
      LG_ARTIFACTORY_USERNAME:
        from_secret: lg_artifactory_username
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
  ...

staging-deploy-chat-server:
  steps:
  - name: deploy-staging-chat-server
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/web-app
      chart_version: 4.12.3
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: chat-server-staging
  ...

staging-build-ingest-service:
  steps:
  - name: publish-staging-ingest-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_PASSWORD:
        from_secret: lg_artifactory_password
      LG_ARTIFACTORY_USERNAME:
        from_secret: lg_artifactory_username
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
  ...

staging-deploy-ingest-service:
  steps:
  - name: deploy-staging-ingest-service
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.7.1
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: ingest-service
  ...

staging-build-scripts-service:
  steps:
  - name: publish-staging-scripts-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_PASSWORD:
        from_secret: lg_artifactory_password
      LG_ARTIFACTORY_USERNAME:
        from_secret: lg_artifactory_username
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
  ...

staging-deploy-scripts-service:
  steps:
  - name: deploy-staging-scripts-service
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.7.1
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: scripts-service
  ...

Fix test
  chat-server/src/processors/makePreprocessMongoDbUserQuery.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

Update scripts/src/analyzeMessages.ts
  scripts/src/analyzeMessages.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

Refactor to make typechat json available to all
  chat-core/src/TypeChatJsonTranslateFunc.ts
  chat-core/src/index.ts
  chat-server/src/processors/makePreprocessMongoDbUserQuery.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

Add message analysis
  chat-core/src/TypeChatJsonTranslateFunc.ts
  chat-server/src/processors/makePreprocessMongoDbUserQuery.ts
  scripts/package.json
  scripts/src/MessageAnalysis.d.ts
  scripts/src/ScrubbedMessage.ts
  scripts/src/addTopics.ts
  scripts/src/analyzeMessages.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

[DOCSP-32954] refactor(devcenter-chatbot): inputbar
  chat-ui/src/DevCenterChatbot.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chat-server

[DOCSP-32954] refactor(devcenter-chatbot): react-transition-group
  chat-ui/src/DevCenterChatbot.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chat-server

[DOCSP-32954] refactor(devcenter-chatbot): cleanup
  chat-ui/src/DevCenterChatbot.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chat-server

[DOCSP-32954] refactor(devcenter-chatbot): update per sugestions
  chat-ui/src/DevCenterChatbot.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chat-server

[DOCSP-32954] Add ErrorBanner, React-Transition-Group #182 (#189)
  chat-ui/package.json
  chat-ui/src/DevCenterChatbot.tsx
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server

Add analyze to cron jobs
  scripts/environments/production.yml
  scripts/environments/staging.yml
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

Add scrubbed message analyzer (#187)
  chat-core/src/TypeChatJsonTranslateFunc.ts
  chat-core/src/index.ts
  chat-server/src/processors/makePreprocessMongoDbUserQuery.test.ts
  chat-server/src/processors/makePreprocessMongoDbUserQuery.ts
  scripts/environments/production.yml
  scripts/environments/staging.yml
  scripts/package.json
  scripts/src/MessageAnalysis.d.ts
  scripts/src/ScrubbedMessage.ts
  scripts/src/analyzeMessages.ts
  scripts/src/scrubMessages.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

Update env vars for analyze script
  scripts/environments/production.yml
  scripts/environments/staging.yml
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

(DOCSP-31104) [UI] Add tests to FE services
  chat-ui/.release-it.json
  chat-ui/__mocks__/@microsoft/fetch-event-source.ts
  chat-ui/package.json
  chat-ui/src/services/conversations.test.ts
  chat-ui/src/services/conversations.ts
  chat-ui/vitest.config.ts
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server

Fix tests
  ingest/src/SnootyProjectsInfo.test.ts
  ingest/src/handleHtmlDocument.test.ts
  ingest/src/handleHtmlDocument.ts
  ingest/src/projectSources.ts
Due: test-all, staging-build-ingest-service, staging-deploy-ingest-service

Update release-it
  ingest/.release-it.json
Due: test-all, staging-build-ingest-service, staging-deploy-ingest-service

Use GitDataSource as drop-in replacement for GitHubDataSource
  ingest/src/AcquitRequireMdOnGithubDataSource.test.ts
  ingest/src/AcquitRequireMdOnGithubDataSource.ts
  ingest/src/GitDataSource.test.ts
  ingest/src/GitDataSource.ts
  ingest/src/GitHubDataSource.test.ts
  ingest/src/GitHubDataSource.ts
  ingest/src/MdOnGithubDataSource.test.ts
  ingest/src/RstOnGitHubDataSource.test.ts
  ingest/src/SnootyProjectsInfo.test.ts
  ingest/src/projectSources.ts
Due: test-all, staging-build-ingest-service, staging-deploy-ingest-service

Update release-it scripts to include monorepo package-lock
  chat-server/.release-it.json
  chat-ui/.release-it.json
  ingest/.release-it.json
  scripts/.release-it.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

Replace GitHub data source (#188)
  chat-server/.release-it.json
  chat-ui/.release-it.json
  ingest/.release-it.json
  ingest/src/AcquitRequireMdOnGithubDataSource.test.ts
  ingest/src/AcquitRequireMdOnGithubDataSource.ts
  ingest/src/GitDataSource.test.ts
  ingest/src/GitDataSource.ts
  ingest/src/GitHubDataSource.test.ts
  ingest/src/GitHubDataSource.ts
  ingest/src/MdOnGithubDataSource.test.ts
  ingest/src/RstOnGitHubDataSource.test.ts
  ingest/src/handleHtmlDocument.test.ts
  ingest/src/handleHtmlDocument.ts
  ingest/src/projectSources.ts
  scripts/.release-it.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

Update package-lock.json
  package-lock.json
Due: none

Release ingest v0.1.1
  ingest/package.json
  package-lock.json
Due: test-all, staging-build-ingest-service, staging-deploy-ingest-service

cbush review
  chat-ui/src/services/conversations.test.ts
  chat-ui/src/services/conversations.ts
  chat-ui/vitest.config.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server

(DOCSP-31104) [UI] Add tests to FE services (#190)
  chat-ui/.release-it.json
  chat-ui/__mocks__/@microsoft/fetch-event-source.ts
  chat-ui/package.json
  chat-ui/src/services/conversations.test.ts
  chat-ui/src/services/conversations.ts
  chat-ui/vitest.config.ts
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server

remove extra file
  scripts/trigger.me
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

(DOCSP-33419) [ANALYTICS] Operational Views
  scripts/package.json
  scripts/src/createView/messages_by_rating.ts
  scripts/src/createView/top_250_references.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

Add do-not-answer preprocessor result to messages
  chat-server/src/routes/conversations/utils.ts
  chat-server/src/services/conversations.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

Update analyzer and scrubber to copy doNotAnswer
  chat-server/src/services/conversations.ts
  scripts/src/ScrubbedMessage.ts
  scripts/src/analyzeMessages.ts
  scripts/src/scrubMessages.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

Fix tests
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
  chat-server/src/routes/conversations/rateMessage.test.ts
  chat-server/src/routes/conversations/rateMessage.ts
  chat-server/src/services/conversations.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

Add whether message was deemed "Do not answer" to conversation (#191)
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
  chat-server/src/routes/conversations/rateMessage.test.ts
  chat-server/src/routes/conversations/rateMessage.ts
  chat-server/src/routes/conversations/utils.ts
  chat-server/src/services/conversations.test.ts
  chat-server/src/services/conversations.ts
  scripts/src/ScrubbedMessage.ts
  scripts/src/analyzeMessages.ts
  scripts/src/scrubMessages.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

Release scripts v0.1.2
  package-lock.json
  scripts/package.json
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

[DOCSP-32954] refactor(devcenter-chatbot): update per PR comments
  chat-ui/src/Chatbot.tsx
  seed-content/build/index.js
  seed-content/build/transformSample.js
Due: test-all, staging-build-chat-server, staging-deploy-chat-server

fix: upgrade urllib from 3.18.0 to 3.18.1
  mongodb-atlas/package.json
Due: none

fix: upgrade urllib from 3.18.0 to 3.18.1
  mongodb-atlas/package-lock.json
Due: none

(DOCSP-33419) [ANALYTICS] Operational Views (#192)
  scripts/package.json
  scripts/src/createView/messages_by_rating.ts
  scripts/src/createView/top_250_references.ts
  scripts/trigger.me
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

(DOCSP-33445) [ANALYTICS] Scrubbed Views
  scripts/package.json
  scripts/src/createView/scrubbed_messages_by_rating.ts
  scripts/src/createView/scrubbed_top_250_references.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

Add scrubbed to type name
  scripts/src/createView/scrubbed_top_250_references.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

Add scrubbed_topics view
  scripts/package.json
  scripts/src/createView/scrubbed_topics.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

(DOCSP-33445) [ANALYTICS] Scrubbed Views (#195)
  scripts/package.json
  scripts/src/createView/scrubbed_messages_by_rating.ts
  scripts/src/createView/scrubbed_top_250_references.ts
  scripts/src/createView/scrubbed_topics.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

[DOCSP-32950] Create a DevCenter Chatbot Component (#193)
  chat-server/package-lock.json
  chat-ui/package.json
  chat-ui/src/App.tsx
  chat-ui/src/Chatbot.tsx
  chat-ui/src/DevCenterChatbot.tsx
  chat-ui/src/UserProvider.tsx
  chat-ui/src/index.tsx
  chat-ui/src/useUser.ts
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

[Snyk] Upgrade urllib from 3.18.0 to 3.18.1 (#194)
  mongodb-atlas/package-lock.json
  mongodb-atlas/package.json
Due: none

Release chat-server v0.1.2
  chat-server/package.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

Path conditions:
  test-all: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*, ingest/**/*, scripts/**/*
  staging-build-chat-server: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*
  staging-deploy-chat-server: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*
  staging-build-ingest-service: any of: ingest/**/*, chat-core/**/*
  staging-deploy-ingest-service: any of: ingest/**/*, chat-core/**/*
  staging-build-scripts-service: any of: scripts/**/*, chat-core/**/*, chat-server/**/*
  staging-deploy-scripts-service: any of: scripts/**/*, chat-core/**/*, chat-server/**/*
