Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

Path conditions:
  test-all: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*, ingest/**/*, scripts/**/*, ingest-mongodb-public/**/*, chatbot-server-mongodb-public/**/*
  staging-build-chat-server: any of: chat-server/**/*, chatbot-server-mongodb-public/**/*, chat-core/**/*, chat-ui/**/*
  staging-deploy-chatbot-server-mongodb-public: any of: chat-server/**/*, chatbot-server-mongodb-public/**/*, chat-core/**/*, chat-ui/**/*
  staging-build-ingest-mongodb-public: any of: ingest/**/*, ingest-mongodb-public/**/*, chat-core/**/*
  staging-deploy-ingest-mongodb-public: any of: ingest/**/*, ingest-mongodb-public/**/*, chat-core/**/*
  staging-build-scripts-service: any of: scripts/**/*, chat-core/**/*, chat-server/**/*
  staging-deploy-scripts-service: any of: scripts/**/*, chat-core/**/*, chat-server/**/*

update lock file
  package-lock.json
Due: none

Trigger test on lock change
  .drone.yml
Due: none

Trigger build
  package-lock.json
Due: none

WIP - rag
  docs-example-generator/build/bluehawkify.js
  docs-example-generator/src/bluehawkify.ts
Due: none

fix drone artifactory creds
  .drone.yml
Due: none

update prerelease
  chat-core/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

Release mongodb-rag-core-v0.1.0 (#254)
  .drone.yml
  chat-core/package.json
  chat-server/package.json
  ingest-mongodb-public/package.json
  ingest/package.json
  package-lock.json
  scripts/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

add static site to server package
  chat-server/package.json
  chat-server/src/app.test.ts
  chat-server/src/app.ts
  chat-server/src/index.ts
  chat-server/src/routes/index.ts
  chat-server/src/routes/staticSite.test.ts
  chat-server/src/routes/staticSite.ts
  chat-ui/vite.config.static-site.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

more examples + rename
  docs-example-generator/build/generate.js
  docs-example-generator/examples/kotlin/snippets/InsertTest.snippet.data-model.kt
  docs-example-generator/examples/kotlin/snippets/InsertTest.snippet.insert-many.kt
  docs-example-generator/examples/kotlin/snippets/InsertTest.snippet.insert-one.kt
  docs-example-generator/examples/kotlin/tests/DeleteTest.kt
  docs-example-generator/examples/kotlin/tests/InsertTest.kt
  docs-example-generator/examples/node/insertMany.js
  docs-example-generator/examples/node/insertMany.ts
  docs-example-generator/examples/node/insertOne.js
  docs-example-generator/examples/node/insertOne.ts
  docs-example-generator/examples/node/updateMany.js
  docs-example-generator/examples/node/updateMany.ts
  docs-example-generator/examples/node/updateOne.js
  docs-example-generator/examples/node/updateOne.ts
  docs-example-generator/package.json
  docs-example-generator/src/context/bluehawk-kotlin.md
  docs-example-generator/src/generate.ts
Due: none

make packages use the updated version
  chatbot-server-mongodb-public/src/config.ts
  chatbot-server-mongodb-public/static/.gitinclude
  examples/basic-chatbot-server/package-lock.json
  examples/basic-chatbot-server/package.json
  examples/basic-chatbot-server/src/index.ts
  examples/basic-chatbot-server/tsconfig.json
  package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

lock fix again
  package-lock.json
Due: none

dep fix
  chatbot-server-mongodb-public/package.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

trigger staging build
  .drone.yml
  chat-server/trigger.me
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

scaffold tasks
  .vscode/settings.json
  docs-example-generator/build/findContentFunc.js
  docs-example-generator/build/generate.js
  docs-example-generator/build/generateCodeExample.js
  docs-example-generator/build/generateDocsPage.js
  docs-example-generator/build/operations.js
  docs-example-generator/examples/node/pages/indexes.txt
  docs-example-generator/examples/node/snippets/insertMany.js
  docs-example-generator/examples/node/snippets/insertMany.ts
  docs-example-generator/examples/node/snippets/insertOne.js
  docs-example-generator/examples/node/snippets/insertOne.ts
  docs-example-generator/examples/node/snippets/updateMany.js
  docs-example-generator/examples/node/snippets/updateMany.ts
  docs-example-generator/examples/node/snippets/updateOne.js
  docs-example-generator/examples/node/snippets/updateOne.ts
  docs-example-generator/package.json
  docs-example-generator/src/findContentFunc.ts
  docs-example-generator/src/generate.ts
  docs-example-generator/src/generateCodeExample.ts
  docs-example-generator/src/generateDocsPage.ts
  docs-example-generator/src/llm/chat.ts
  docs-example-generator/src/llm/openai/index.ts
  docs-example-generator/src/operations.ts
Due: none

add WIP disclaimers + sidebar update
  docs/docs/index.md
  docs/docusaurus.config.ts
  docs/sidebars.ts
Due: none

implement NL feedback
  ingest-mongodb-public/src/sources/wiredTiger.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

(EAI-36): WiredTiger data source (#251)
  ingest-mongodb-public/package.json
  ingest-mongodb-public/src/sources.ts
  ingest-mongodb-public/src/sources/wiredTiger.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

update CI/CD + build scripts
  .drone.yml
  scripts-service.dockerfile
Due: none

update release confs
  packages/chatbot-server-mongodb-public/.release-it.json
  packages/ingest-mongodb-public/.release-it.json
  packages/mongodb-chatbot-server/.release-it.json
  packages/mongodb-chatbot-ui/.release-it.json
  packages/mongodb-rag-ingest/.release-it.json
  packages/mongodb-rag-ingest/README.md
  packages/scripts/.release-it.json
Due: none

update package names in docs
  CONTRIBUTING.md
  packages/ingest-mongodb-public/README.md
  packages/mongodb-rag-ingest/README.md
Due: none

fix version mismatch
  package-lock.json
  packages/mongodb-chatbot-server/package.json
Due: none

close store
  docs-example-generator/.gitignore
  docs-example-generator/build/agents/grader/index.js
  docs-example-generator/build/agents/index.js
  docs-example-generator/build/agents/orchestrator/index.js
  docs-example-generator/build/agents/refiner/index.js
  docs-example-generator/build/agents/summarizer/index.js
  docs-example-generator/build/agents/transformer/index.js
  docs-example-generator/build/bluehawkify.js
  docs-example-generator/build/code2code.js
  docs-example-generator/build/findContentFunc.js
  docs-example-generator/build/generate.js
  docs-example-generator/build/generateCodeExample.js
  docs-example-generator/build/generateDocsPage.js
  docs-example-generator/build/index.js
  docs-example-generator/build/llm/chat.js
  docs-example-generator/build/llm/openai/index.js
  docs-example-generator/build/operations.js
  docs-example-generator/build/util.js
  docs-example-generator/src/findContentFunc.ts
  docs-example-generator/src/generate.ts
  docs-example-generator/src/generateCodeExample.ts
  docs-example-generator/src/generateDocsPage.ts
  docs-example-generator/src/operations.ts
Due: none

(EAI-44): Ingest Prisma docs (#250)
  ingest-mongodb-public/src/sources/index.ts
  ingest-mongodb-public/src/sources/prisma.ts
  ingest/src/sources/GitHubDataSource.test.ts
  ingest/src/sources/GitHubDataSource.ts
  ingest/src/sources/MdOnGithubDataSource.test.ts
  ingest/src/sources/MdOnGithubDataSource.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

Update docs/docs/index.md
  docs/docs/index.md
Due: none

Add WIP disclaimers + sidebar update to docs (#256)
  docs/docs/index.md
  docs/docusaurus.config.ts
  docs/sidebars.ts
Due: none

Apply suggestions from code review
  .drone.yml
Due: none

Delete chat-server/trigger.me
  chat-server/trigger.me
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

(EAI-49): Add static site endpoint to `mongodb-chatbot-server` + include in implementations (#255)
  chat-server/package.json
  chat-server/src/app.test.ts
  chat-server/src/app.ts
  chat-server/src/index.ts
  chat-server/src/routes/index.ts
  chat-server/src/routes/staticSite.test.ts
  chat-server/src/routes/staticSite.ts
  chat-ui/vite.config.static-site.ts
  chatbot-server-mongodb-public/package.json
  chatbot-server-mongodb-public/src/config.ts
  chatbot-server-mongodb-public/static/.gitinclude
  examples/basic-chatbot-server/package-lock.json
  examples/basic-chatbot-server/package.json
  examples/basic-chatbot-server/src/index.ts
  examples/basic-chatbot-server/tsconfig.json
  package-lock.json
  package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

update package files
  package-lock.json
  packages/ingest-mongodb-public/package.json
Due: none

Release mongodb-rag-ingest v0.1.7
  package-lock.json
  packages/mongodb-rag-ingest/package.json
Due: none

ingest-mongodb-public@0.1.7 release (#258)
  package-lock.json
  packages/ingest-mongodb-public/package.json
  packages/mongodb-rag-ingest/package.json
Due: none

Release mongodb-rag-core v0.1.1
  package-lock.json
  packages/mongodb-rag-core/package.json
Due: none

Deploy website - based on 65746a68d091529444be3a02723527f66303867a
  404.html
  assets/js/72e14192.58fe1da0.js
  assets/js/72e14192.c0479123.js
  assets/js/8e875b0a.74be716e.js
  assets/js/8e875b0a.d0b8a7a2.js
  assets/js/935f2afb.0b92d2aa.js
  assets/js/935f2afb.1c468c8c.js
  assets/js/c377a04b.9726f6d9.js
  assets/js/c377a04b.aa3408a8.js
  assets/js/main.7294d592.js
  assets/js/main.7294d592.js.LICENSE.txt
  assets/js/main.ad8e6821.js
  assets/js/runtime~main.23c2c04b.js
  assets/js/runtime~main.677bfa1a.js
  index.html
  ingest/command-reference/index.html
  ingest/configuration-reference/index.html
  ingest/configure/index.html
  ingest/data-sources/index.html
  ingest/fine-tune/index.html
  mongodb/index.html
  quick-start/index.html
  redocusaurus/plugin-redoc-0.yaml
  server/configure/index.html
  server/openapi/index.html
  ui/index.html
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

update helm charts
  .drone.yml
Due: none

fix command
  .drone.yml
Due: none
