Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

test-all:
  steps:
  - name: test
    image: node:18
    commands:
    - npm ci
    - npm run build
    - npm run lint
    - npm run test
    environment:
      PORT: 3000
      OPENAI_EMBEDDING_MODEL: text-embedding-ada-002
      OPENAI_EMBEDDING_MODEL_VERSION: 2023-03-15-preview
      MONGODB_DATABASE_NAME: docs-chatbot-test
  ...

staging-build-chat-server:
  steps:
  - name: publish-staging-chat-server
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_PASSWORD:
        from_secret: lg_artifactory_password
      LG_ARTIFACTORY_USERNAME:
        from_secret: lg_artifactory_username
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
  ...

staging-deploy-chat-server:
  steps:
  - name: deploy-staging-chat-server
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/web-app
      chart_version: 4.12.3
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: chat-server-staging
  ...

staging-build-ingest-service:
  steps:
  - name: publish-staging-ingest-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_PASSWORD:
        from_secret: lg_artifactory_password
      LG_ARTIFACTORY_USERNAME:
        from_secret: lg_artifactory_username
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
  ...

staging-deploy-ingest-service:
  steps:
  - name: deploy-staging-ingest-service
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.7.1
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: ingest-service
  ...

staging-build-scripts-service:
  steps:
  - name: publish-staging-scripts-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_PASSWORD:
        from_secret: lg_artifactory_password
      LG_ARTIFACTORY_USERNAME:
        from_secret: lg_artifactory_username
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
  ...

staging-deploy-scripts-service:
  steps:
  - name: deploy-staging-scripts-service
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.7.1
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: scripts-service
  ...

(DOCSP-32603): Add Terraform data source (#205)
  chat-core/src/extractFrontMatter.ts
  ingest/src/GitDataSource.ts
  ingest/src/projectSources.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

implement CB feedback
  chat-core/src/DatabaseConnection.ts
  chat-core/src/EmbeddedContent.ts
  chat-core/src/MongoDbDatabaseConnection.ts
  chat-core/src/MongoDbEmbeddedContentStore.ts
  chat-core/src/MongoDbPageStore.ts
  chat-core/src/Page.ts
  chat-core/src/pageIdentity.ts
  examples/basic-chatbot-server/tsconfig.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

add gitignore
  examples/basic-chatbot-server/.gitignore
Due: none

This is a security bug bounty test... Please ignore . (bmytek)
  chat-core/package.json
  chat-server/package.json
  chat-ui/package.json
  ingest/package.json
  mongodb-atlas/dump-restore/dump.sh
  mongodb-atlas/dump-restore/restore.sh
  mongodb-atlas/package.json
  package.json
  performance-tests/package.json
  scripts/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

Bug bounty testing - please ignore
  .drone.yml
Due: none

Bug bounty testing - please ignore...
  chat-ui/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server

test do not merge
  package.json
Due: none

test do not merge
  chat-ui/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server

adding a trailing slash to env variables expected to be URLs
  chat-core/src/CoreEnvVars.ts
  chat-core/src/assertEnvVars.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

Fix test
  chat-core/src/MongoDbEmbeddedContentStore.test.ts
  chat-core/src/MongoDbEmbeddedContentStore.ts
  chat-core/src/MongoDbPageStore.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

WIP
  ingest-mongodb-public/src/config.ts
  ingest/src/Config.ts
  ingest/src/withConfig.ts
Due: test-all, staging-build-ingest-service, staging-deploy-ingest-service

Cleanup
  ingest/src/withConfig.ts
Due: test-all, staging-build-ingest-service, staging-deploy-ingest-service

add types
  chat-core/src/ApiEmbeddedContent.ts
  chat-core/src/ApiPage.ts
  chat-core/src/index.ts
  chat-server/src/services/ChatLlm.ts
  chat-server/src/services/OpenAiApiChatLlm.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

Add testing
  ingest/src/sources/snooty/SnootyDataSource.ts
  ingest/src/withConfig.test.ts
  ingest/src/withConfig.ts
  ingest/testData/config/configTest.cjs
Due: test-all, staging-build-ingest-service, staging-deploy-ingest-service

Add some core logic + types for us to build on (#218)
  chat-core/src/ApiEmbeddedContent.ts
  chat-core/src/ApiPage.ts
  chat-core/src/index.ts
  chat-server/src/services/ChatLlm.ts
  chat-server/src/services/OpenAiApiChatLlm.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

Further work to make it work?
  chat-core/src/OpenAiEmbedder.ts
  chat-core/src/index.ts
  ingest-mongodb-public/package-lock.json
  ingest-mongodb-public/package.json
  ingest-mongodb-public/src/config.ts
  ingest/package.json
  ingest/src/commands/all.ts
  ingest/src/commands/embed.ts
  ingest/src/withConfig.ts
  ingest/testData/config/configTest.cjs
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

Tidy
  chat-core/src/OpenAiEmbedder.ts
  ingest-mongodb-public/environments/production.yml
  ingest-mongodb-public/environments/staging.yml
  ingest-mongodb-public/jest.config.cjs
  ingest/src/withConfig.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

Update ingest/src/Config.ts
  ingest/src/Config.ts
Due: test-all, staging-build-ingest-service, staging-deploy-ingest-service

Minor fix
  chat-core/src/OpenAiEmbedder.ts
  chat-core/tsconfig.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

fix(role-type-issue): Add function into role definition to resolve type issue
  chat-server/src/routes/conversations/utils.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

WIP - factor out ChatbotModal pt 2
  chat-ui/src/Banner.tsx
  chat-ui/src/Chatbot.tsx
  chat-ui/src/ChatbotModal.tsx
  chat-ui/src/DevCenterChatbot.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chat-server

WIP - use memo instead of effect
  chat-ui/src/DevCenterChatbot.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chat-server

WIP - factor out chatbot logic
  chat-ui/src/Chatbot.tsx
  chat-ui/src/ChatbotModal.tsx
  chat-ui/src/DevCenterChatbot.tsx
  chat-ui/src/useChatbot.tsx
  chat-ui/src/useLinkData.tsx
  chat-ui/src/utils.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server

WIP - factor out Message
  chat-ui/src/Chatbot.tsx
  chat-ui/src/DevCenterChatbot.tsx
  chat-ui/src/Message.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chat-server

WIP - factor out ChatbotModal pt 1
  chat-ui/src/Banner.tsx
  chat-ui/src/Chatbot.tsx
  chat-ui/src/ChatbotModal.tsx
  chat-ui/src/constants.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server

WIP - both chatbots look right?
  chat-ui/src/App.tsx
  chat-ui/src/Chatbot.tsx
  chat-ui/src/ChatbotModal.tsx
  chat-ui/src/DevCenterChatbot.tsx
  chat-ui/src/DocsChatbot.tsx
  chat-ui/src/LegalDisclosure.tsx
  chat-ui/src/constants.ts
  chat-ui/src/index.tsx
  chat-ui/src/services/conversations.ts
  chat-ui/src/useChatbot.tsx
  chat-ui/src/useConversation.tsx
  chat-ui/src/utils.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server

Polymorphic Chatbot
  chat-ui/src/Chatbot.tsx
  chat-ui/src/DevCenterChatbot.tsx
  chat-ui/src/DocsChatbot.tsx
  chat-ui/src/PolymorphicChatbotProvider.tsx
  chat-ui/src/usePolymorphicChatbot.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chat-server

WIP - Triggers & Views
  chat-ui/src/ChatbotModal.tsx
  chat-ui/src/ChatbotTrigger.tsx
  chat-ui/src/DevCenterChatbot.tsx
  chat-ui/src/DocsChatbot.tsx
  chat-ui/src/FloatingActionButtonTrigger.tsx
  chat-ui/src/InputBarTrigger.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chat-server

WIP - split out linkdata provider from hook
  chat-ui/src/Chatbot.tsx
  chat-ui/src/LinkDataProvider.tsx
  chat-ui/src/useLinkData.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chat-server

WIP - Triggers & Views getting closer
  chat-ui/src/DocsChatbot.tsx
  chat-ui/src/InputBarTrigger.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chat-server

WIP - lint cleanup
  chat-ui/src/Chatbot.tsx
  chat-ui/src/ChatbotModal.tsx
  chat-ui/src/DocsChatbot.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chat-server

WIP - triggers are streamlined
  chat-ui/src/App.tsx
  chat-ui/src/Chatbot.tsx
  chat-ui/src/ChatbotProvider.tsx
  chat-ui/src/ChatbotTrigger.tsx
  chat-ui/src/ChatbotView.tsx
  chat-ui/src/DevCenterChatbot.tsx
  chat-ui/src/DocsChatbot.tsx
  chat-ui/src/FloatingActionButtonTrigger.tsx
  chat-ui/src/InputBarTrigger.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chat-server

WIP - closer!
  chat-ui/src/Chatbot.tsx
  chat-ui/src/ChatbotProvider.tsx
  chat-ui/src/ChatbotView.tsx
  chat-ui/src/DevCenterChatbot.tsx
  chat-ui/src/DocsChatbot.tsx
  chat-ui/src/ModalView.tsx
  chat-ui/src/PolymorphicChatbotProvider.tsx
  chat-ui/src/useChatbotContext.tsx
  chat-ui/src/usePolymorphicChatbot.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chat-server

WIP - add exports
  chat-ui/src/index.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chat-server

WIP - everything works great
  chat-ui/src/App.tsx
  chat-ui/src/ChatbotView.tsx
  chat-ui/src/DevCenterChatbot.tsx
  chat-ui/src/DocsChatbot.tsx
  chat-ui/src/ModalView.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chat-server

Fix build?
  chat-server/package.json
  chat-server/src/routes/conversations/addMessageToConversation.ts
  chat-server/src/routes/conversations/createConversation.ts
  chat-server/src/routes/conversations/utils.ts
  chat-ui/src/services/conversations.test.ts
  examples/basic-chatbot-server/package-lock.json
  ingest-mongodb-public/package-lock.json
  mongodb-atlas/package-lock.json
  package-lock.json
  performance-tests/package-lock.json
  scripts/package.json
  scripts/src/ScrubbedMessage.ts
  scripts/src/analyzeMessages.ts
  scripts/src/createView/messages_by_rating.ts
  scripts/src/createView/top_250_references.ts
  scripts/src/scrubMessages.ts
  scripts/tsconfig.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

Update Config usage
  .drone.yml
  ingest-mongodb-public/src/config.ts
  ingest/README.md
  ingest/src/withConfig.ts
Due: test-all, staging-build-ingest-service, staging-deploy-ingest-service

Path conditions:
  test-all: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*, ingest/**/*, scripts/**/*
  staging-build-chat-server: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*
  staging-deploy-chat-server: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*
  staging-build-ingest-service: any of: ingest/**/*, chat-core/**/*
  staging-deploy-ingest-service: any of: ingest/**/*, chat-core/**/*
  staging-build-scripts-service: any of: scripts/**/*, chat-core/**/*, chat-server/**/*
  staging-deploy-scripts-service: any of: scripts/**/*, chat-core/**/*, chat-server/**/*
