Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

Path conditions:
  test-all: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*, ingest/**/*, scripts/**/*, ingest-mongodb-public/**/*, chatbot-server-mongodb-public/**/*
  staging-build-chat-server: any of: chat-server/**/*, chatbot-server-mongodb-public/**/*, chat-core/**/*, chat-ui/**/*
  staging-deploy-chatbot-server-mongodb-public: any of: chat-server/**/*, chatbot-server-mongodb-public/**/*, chat-core/**/*, chat-ui/**/*
  staging-build-ingest-mongodb-public: any of: ingest/**/*, ingest-mongodb-public/**/*, chat-core/**/*
  staging-deploy-ingest-mongodb-public: any of: ingest/**/*, ingest-mongodb-public/**/*, chat-core/**/*
  staging-build-scripts-service: any of: scripts/**/*, chat-core/**/*, chat-server/**/*
  staging-deploy-scripts-service: any of: scripts/**/*, chat-core/**/*, chat-server/**/*

(EAI-7) [UI] Can't send existing text after reopening modal
  chat-ui/package.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

docs v1
  chat-server/README.md
  docs/docs/index.md
  docs/docs/ingest.md
  docs/docs/ingest/command-reference.md
  docs/docs/ingest/configuration-reference.md
  docs/docs/ingest/configure.md
  docs/docs/ingest/data-sources.md
  docs/docs/ingest/fine-tune.md
  docs/docs/mongodb.md
  docs/docs/quick-start.md
  docs/docs/server/configure.md
  docs/docs/server/openapi.md
  docs/docs/server/openapi.yaml
  docs/docusaurus.config.ts
  docs/package-lock.json
  docs/package.json
  docs/sidebars.ts
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

fix build issues
  docs/docs/index.md
  docs/docs/quick-start.md
  docs/docusaurus.config.ts
Due: none

working search func
  mongodb-chatgpt-plugin/chat-gpt-plugin.yaml
  mongodb-chatgpt-plugin/package-lock.json
  mongodb-chatgpt-plugin/package.json
  mongodb-chatgpt-plugin/pages/api/content.ts
Due: none

add data sources page
  docs/docs/ingest/configuration-reference.md
  docs/docs/ingest/data-sources.md
Due: none

copy edits
  docs/docs/ingest/configuration-reference.md
  docs/docs/ingest/configure.md
  docs/docs/ingest/data-sources.md
  docs/docs/ingest/fine-tune.md
Due: none

(EAI-7) [UI] Can't send existing text after reopening modal (#242)
  chat-ui/package.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

WIP - example generator
  docs-example-generator/build/agents/grader/index.js
  docs-example-generator/build/agents/index.js
  docs-example-generator/build/agents/orchestrator/index.js
  docs-example-generator/build/agents/refiner/index.js
  docs-example-generator/build/agents/summarizer/index.js
  docs-example-generator/build/agents/transformer/index.js
  docs-example-generator/build/bluehawkify.js
  docs-example-generator/build/code2code.js
  docs-example-generator/build/findContentFunc.js
  docs-example-generator/build/index.js
  docs-example-generator/build/llm/chat.js
  docs-example-generator/build/llm/openai/index.js
  docs-example-generator/build/util.js
  docs-example-generator/examples/inputs/insertMany.js
  docs-example-generator/examples/inputs/insertOne.js
  docs-example-generator/package-lock.json
  docs-example-generator/package.json
  docs-example-generator/src/agents/orchestrator/index.ts
  docs-example-generator/src/bluehawkify.ts
  docs-example-generator/src/code2code.ts
  docs-example-generator/src/findContentFunc.ts
  docs-example-generator/src/index.ts
  docs-example-generator/src/llm/chat.ts
  docs-example-generator/src/llm/openai/index.ts
  docs-example-generator/src/util.ts
  docs-example-generator/transformations/ts2ts_bluehawk.yaml
  docs-example-generator/transformations/ts2ts_bluehawk__insertOne.yaml
  docs-example-generator/tsconfig.json
  package-lock.json
  scripts/package.json
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

make conversation constants configurable
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
  chat-server/src/routes/conversations/addMessageToConversation.ts
  chat-server/src/services/conversations.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

add custom data on conversation creation
  chat-server/src/routes/conversations/conversationsRouter.test.ts
  chat-server/src/routes/conversations/conversationsRouter.ts
  chat-server/src/routes/conversations/createConversation.test.ts
  chat-server/src/routes/conversations/createConversation.ts
  chat-server/src/services/conversations.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

Update pull_request_template.md to use new Jira project
  .github/pull_request_template.md
Due: none

test
  .drone.yml
Due: none

Update .drone.yml
  .drone.yml
Due: none

Remove pending github token
  chat-ui/.release-it.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Release chat-ui v0.1.0-0
  chat-ui/package.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Remove @release-it/bumper from chat-ui
  chat-ui/.release-it.json
  chat-ui/package.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Use a more specific env variable name
  .npmrc
Due: none

Release chat-ui v0.1.0
  chat-ui/package.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Remove unused props & update README
  chat-ui/README.md
  chat-ui/src/Chatbot.tsx
  chat-ui/src/DevCenterChatbot.tsx
  chat-ui/src/DocsChatbot.tsx
  chat-ui/src/ModalView.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Ubiquitous dark mode
  chat-ui/README.md
  chat-ui/src/ChatbotView.tsx
  chat-ui/src/DarkMode.ts
  chat-ui/src/DevCenterChatbot.tsx
  chat-ui/src/DocsChatbot.tsx
  chat-ui/src/FloatingActionButtonTrigger.tsx
  chat-ui/src/InputBarTrigger.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Update exports & format
  chat-ui/src/App.tsx
  chat-ui/src/ChatbotProvider.tsx
  chat-ui/src/DevCenterChatbot.tsx
  chat-ui/src/ModalView.tsx
  chat-ui/src/index.tsx
  chat-ui/src/services/conversations.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Release chat-ui v0.1.1
  chat-ui/package.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

remove old code2code
  scripts/src/code2code.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

routes working; few test time outs
  chat-server/package.json
  chat-server/src/index.ts
  chat-server/src/middleware/index.ts
  chat-server/src/middleware/requireRequestOrigin.test.ts
  chat-server/src/middleware/requireRequestOrigin.ts
  chat-server/src/middleware/requireValidIpAddress.test.ts
  chat-server/src/middleware/requireValidIpAddress.ts
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
  chat-server/src/routes/conversations/addMessageToConversation.ts
  chat-server/src/routes/conversations/conversationsRouter.test.ts
  chat-server/src/routes/conversations/conversationsRouter.ts
  chat-server/src/routes/conversations/createConversation.test.ts
  chat-server/src/routes/conversations/createConversation.ts
  chat-server/src/routes/conversations/rateMessage.test.ts
  chat-server/src/services/conversations.test.ts
  chat-server/src/services/conversations.ts
  chat-server/src/test/testConfig.ts
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

debug timeouts + failures
  chat-server/src/routes/conversations/addMessageToConversation.ts
  chat-server/src/routes/conversations/conversationsRouter.test.ts
  chat-server/src/routes/conversations/conversationsRouter.ts
  chat-server/src/routes/conversations/createConversation.ts
  chat-server/src/routes/conversations/rateMessage.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

revert unneeded changes
  chat-server/src/routes/conversations/conversationsRouter.test.ts
  chat-server/src/test/testConfig.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

Fix broken tests
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
  chat-server/src/routes/conversations/addMessageToConversation.ts
  chat-server/src/routes/conversations/conversationsRouter.ts
  chat-server/src/routes/conversations/createConversation.test.ts
  chat-server/src/routes/conversations/rateMessage.test.ts
  chat-server/src/services/conversations.test.ts
  chat-server/src/services/conversations.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

test requireValidIpAddres middleware
  chat-server/src/middleware/requireRequestOrigin.test.ts
  chat-server/src/middleware/requireValidIpAddress.test.ts
  chat-server/src/test/middlewareTestHelpers.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

Fix build errs
  chatbot-server-mongodb-public/src/llmQualitativeTests/generateChatTranscript.ts
  scripts/src/scrubMessages.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

update chat-ui docs
  docs/docs/ui.md
Due: none

Add back demo gif
  docs/docs/ui.md
Due: none

(EAI-18): Docs for RAG framework (#243)
  docs/.gitignore
  docs/README.md
  docs/babel.config.js
  docs/docs/index.md
  docs/docs/ingest/command-reference.md
  docs/docs/ingest/configuration-reference.md
  docs/docs/ingest/configure.md
  docs/docs/ingest/data-sources.md
  docs/docs/ingest/fine-tune.md
  docs/docs/mongodb.md
  docs/docs/quick-start.md
  docs/docs/server/configure.md
  docs/docs/server/openapi.yaml
  docs/docs/ui.md
  docs/docusaurus.config.ts
  docs/package-lock.json
  docs/package.json
  docs/sidebars.ts
  docs/src/css/custom.css
  docs/static/img/ingest-diagram.webp
  docs/static/img/server-diagram.webp
  docs/static/img/ui-demo.gif
  docs/tsconfig.json
  package-lock.json
Due: none

update build scripts
  docs/docusaurus.config.ts
  docs/package.json
  docs/static/.nojekyll
Due: none

rename dir for gh pages
  docs/docs-src/index.md
  docs/docs-src/ingest/command-reference.md
  docs/docs-src/ingest/configuration-reference.md
  docs/docs-src/ingest/configure.md
  docs/docs-src/ingest/data-sources.md
  docs/docs-src/ingest/fine-tune.md
  docs/docs-src/mongodb.md
  docs/docs-src/quick-start.md
  docs/docs-src/server/configure.md
  docs/docs-src/server/openapi.yaml
  docs/docs-src/ui.md
Due: none

fix naming
  docs/docs/index.md
  docs/docs/ingest/command-reference.md
  docs/docs/ingest/configuration-reference.md
  docs/docs/ingest/configure.md
  docs/docs/ingest/data-sources.md
  docs/docs/ingest/fine-tune.md
  docs/docs/mongodb.md
  docs/docs/quick-start.md
  docs/docs/server/configure.md
  docs/docs/server/openapi.yaml
  docs/docs/ui.md
  docs/package.json
Due: none

Deploy docs to https://mongodb.github.io/chatbot/ (#246)
  docs/docusaurus.config.ts
  docs/package.json
  docs/static/.nojekyll
Due: none

code clean up
  chat-server/src/routes/conversations/addMessageToConversation.ts
  chat-server/src/services/conversations.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

update api spec to reflect changes
  docs/docs/server/openapi.yaml
Due: none
