Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

test-all:
  steps:
  - name: test
    image: node:18
    commands:
    - npm ci
    - npm run build
    - npm run lint
    - npm run test
    environment:
      PORT: 3000
      OPENAI_EMBEDDING_MODEL: text-embedding-ada-002
      OPENAI_EMBEDDING_MODEL_VERSION: 2023-03-15-preview
      MONGODB_DATABASE_NAME: docs-chatbot-test
  ...

staging-build-chat-server:
  steps:
  - name: publish-staging-chat-server
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_PASSWORD:
        from_secret: lg_artifactory_password
      LG_ARTIFACTORY_USERNAME:
        from_secret: lg_artifactory_username
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
  ...

staging-deploy-chat-server:
  steps:
  - name: deploy-staging-chat-server
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/web-app
      chart_version: 4.12.3
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: chat-server-staging
  ...

staging-build-ingest-service:
  steps:
  - name: publish-staging-ingest-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_PASSWORD:
        from_secret: lg_artifactory_password
      LG_ARTIFACTORY_USERNAME:
        from_secret: lg_artifactory_username
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
  ...

staging-deploy-ingest-service:
  steps:
  - name: deploy-staging-ingest-service
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.7.1
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: ingest-service
  ...

staging-build-scripts-service:
  steps:
  - name: publish-staging-scripts-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_PASSWORD:
        from_secret: lg_artifactory_password
      LG_ARTIFACTORY_USERNAME:
        from_secret: lg_artifactory_username
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
  ...

staging-deploy-scripts-service:
  steps:
  - name: deploy-staging-scripts-service
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.7.1
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: scripts-service
  ...

Do not fail query on rephrase fail
  chat-server/src/processors/MongoDbUserQueryPreprocessorResponse.d.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

Refactor message preprocessor
  chat-server/src/processors/MongoDbUserQueryPreprocessorResponse.d.ts
  chat-server/src/processors/QueryPreprocessorFunc.ts
  chat-server/src/processors/makePreprocessMongoDbUserQuery.test.ts
  chat-server/src/processors/makePreprocessMongoDbUserQuery.ts
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
  chat-server/src/routes/conversations/addMessageToConversation.ts
  chat-server/src/services/conversations.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

Fix scripts build and link up rejectMessage field storage
  chat-server/src/routes/conversations/addMessageToConversation.ts
  chat-server/src/services/conversations.ts
  scripts/src/scrubMessages.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

Unify release-it config
  chat-ui/.release-it.json
  chat-ui/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server

Release chat-ui v0.0.7
  chat-ui/package.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server

Bundle new @lg-chat components
  chat-ui/package.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server

Release chat-ui v0.0.8
  chat-ui/package.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server

fix: upgrade urllib from 3.18.1 to 3.19.0
  mongodb-atlas/package.json
Due: none

fix: upgrade urllib from 3.18.1 to 3.19.0
  mongodb-atlas/package-lock.json
Due: none

fix: upgrade mongodb from 5.8.1 to 5.9.0
  mongodb-atlas/package.json
Due: none

fix: upgrade mongodb from 5.8.1 to 5.9.0
  mongodb-atlas/package-lock.json
Due: none

Re-add deleted test case
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

Do not fail query on rephrase fail (#196)
  chat-server/src/processors/MongoDbUserQueryPreprocessorResponse.d.ts
  chat-server/src/processors/QueryPreprocessorFunc.ts
  chat-server/src/processors/makePreprocessMongoDbUserQuery.test.ts
  chat-server/src/processors/makePreprocessMongoDbUserQuery.ts
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
  chat-server/src/routes/conversations/addMessageToConversation.ts
  chat-server/src/services/conversations.ts
  scripts/src/scrubMessages.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

[Snyk] Upgrade urllib from 3.18.1 to 3.19.0 (#197)
  mongodb-atlas/package-lock.json
  mongodb-atlas/package.json
Due: none

Use GITHUB_TOKEN for chat-ui releases
  chat-ui/.release-it.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server

Release chat-server v0.1.3
  chat-server/package.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

fix: upgrade urllib from 3.19.0 to 3.19.1
  mongodb-atlas/package.json
Due: none

fix: upgrade urllib from 3.19.0 to 3.19.1
  mongodb-atlas/package-lock.json
Due: none

start stubbing
  chat-server/src/services/openAiChatLlm.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

keep hacking
  chat-server/src/services/openAiChatLlm.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

touch up qualitative test suite + add tags
  chat-server/src/llmQualitativeTests/CheckQualityResult.ts
  chat-server/src/llmQualitativeTests/TestCase.ts
  chat-server/src/llmQualitativeTests/checkResponseQuality.test.ts
  chat-server/src/llmQualitativeTests/checkResponseQuality.ts
  chat-server/src/llmQualitativeTests/edgeCases.test.ts
  chat-server/src/llmQualitativeTests/generateChatTranscript.ts
  chat-server/src/llmQualitativeTests/getTestCasesFromYaml.ts
  chat-server/src/llmQualitativeTests/qualitative.test.ts
  chat-server/src/llmQualitativeTests/security.test.ts
  chat-server/src/llmQualitativeTests/securityTests.yaml
  chat-server/src/llmQualitativeTests/testCases.yaml
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

add phase 1 general draft
  chat-server/src/llmQualitativeTests/TestCase.ts
  chat-server/src/llmQualitativeTests/qualitative.test.ts
  chat-server/src/llmQualitativeTests/testCases.yaml
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

add general tests
  chat-server/src/llmQualitativeTests/TestCase.ts
  chat-server/src/llmQualitativeTests/checkResponseQuality.ts
  chat-server/src/llmQualitativeTests/qualitative.test.ts
  chat-server/src/llmQualitativeTests/testCases.yaml
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

remove console.log
  chat-server/src/llmQualitativeTests/qualitative.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

add rename files
  scripts/assets/qaTests/sept-2023-manual-testing-round.csv
  scripts/src/createAug2023QualityTestsYaml.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

sept 23 question yaml generator
  scripts/assets/qaTests/sept-2023-manual-testing-round.csv
  scripts/assets/qaTests/sept-2023-manual-testing-round.yaml
  scripts/package.json
  scripts/src/createSept2023QualityTestsYaml.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

update scripts to handle different testing scenarios
  chat-server/package.json
  chat-server/src/llmQualitativeTests/qualitative.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

add round 2 test draft
  chat-server/src/llmQualitativeTests/testCases.yaml
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

update test types
  chat-server/src/llmQualitativeTests/qualitative.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

update more test cases
  chat-server/src/llmQualitativeTests/testCases.yaml
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

add all qualitative tests
  chat-server/src/llmQualitativeTests/qualitative.test.ts
  chat-server/src/llmQualitativeTests/testCases.yaml
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

add new snooty data sources
  ingest/src/projectSources.ts
Due: test-all, staging-build-ingest-service, staging-deploy-ingest-service

[Snyk] Upgrade urllib from 3.19.0 to 3.19.1 (#200)
  mongodb-atlas/package-lock.json
  mongodb-atlas/package.json
Due: none

Add Rust and Entity Framework Snooty data sources (#202)
  ingest/src/projectSources.ts
Due: test-all, staging-build-ingest-service, staging-deploy-ingest-service

fix: upgrade urllib from 3.19.1 to 3.19.2
  mongodb-atlas/package.json
Due: none

fix: upgrade urllib from 3.19.1 to 3.19.2
  mongodb-atlas/package-lock.json
Due: none

[Snyk] Upgrade urllib from 3.19.1 to 3.19.2 (#203)
  mongodb-atlas/package-lock.json
  mongodb-atlas/package.json
Due: none

Release ingest v0.1.2
  ingest/package.json
  package-lock.json
Due: test-all, staging-build-ingest-service, staging-deploy-ingest-service

Release ingest-v0.1.2 (#204)
  ingest/package.json
  package-lock.json
Due: test-all, staging-build-ingest-service, staging-deploy-ingest-service

Type the ExpressRequest
  chat-server/src/routes/conversations/addMessageToConversation.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

Path conditions:
  test-all: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*, ingest/**/*, scripts/**/*
  staging-build-chat-server: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*
  staging-deploy-chat-server: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*
  staging-build-ingest-service: any of: ingest/**/*, chat-core/**/*
  staging-deploy-ingest-service: any of: ingest/**/*, chat-core/**/*
  staging-build-scripts-service: any of: scripts/**/*, chat-core/**/*, chat-server/**/*
  staging-deploy-scripts-service: any of: scripts/**/*, chat-core/**/*, chat-server/**/*
