Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

Path conditions:
  test-all: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*, ingest/**/*, scripts/**/*
  staging-build-chat-server: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*
  staging-deploy-chat-server: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*
  staging-build-ingest-service: any of: ingest/**/*, chat-core/**/*
  staging-deploy-ingest-service: any of: ingest/**/*, chat-core/**/*
  staging-build-scripts-service: any of: scripts/**/*, chat-core/**/*, chat-server/**/*
  staging-deploy-scripts-service: any of: scripts/**/*, chat-core/**/*, chat-server/**/*

Fix scripts build and link up rejectMessage field storage
  chat-server/src/services/conversations.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

Revert "Revert "Fix test?""
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

More refactor WIP
  chat-server/src/app.test.ts
  chat-server/src/config.ts
  chat-server/src/routes/conversations/FindContentFunc.ts
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
  chat-server/src/routes/conversations/addMessageToConversation.ts
  chat-server/src/routes/conversations/conversationsRouter.test.ts
  chat-server/src/routes/conversations/conversationsRouter.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

Refactor message preprocessor
  chat-server/src/services/conversations.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

Fix test?
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

WIP
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
  chat-server/src/routes/conversations/addMessageToConversation.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

Revert "Fix test?"
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

Conversations refactor WIP
  chat-server/src/routes/conversations/addMessageToConversation.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

add terraform data source
  chat-core/src/extractFrontMatter.ts
  ingest/src/GitDataSource.ts
  ingest/src/projectSources.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

update for more pageS
  ingest/src/projectSources.ts
Due: test-all, staging-build-ingest-service, staging-deploy-ingest-service

Add comments
  chat-core/src/EmbedFunc.ts
  chat-core/src/EmbeddedContent.ts
  chat-core/src/Page.ts
  chat-server/src/app.ts
  chat-server/src/config.ts
  chat-server/src/processors/QueryPreprocessorFunc.ts
  chat-server/src/processors/SearchBooster.ts
  chat-server/src/processors/makeBoostOnAtlasSearchFilter.ts
  chat-server/src/processors/makePreprocessMongoDbUserQuery.ts
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
  chat-server/src/routes/conversations/conversationsRouter.ts
  chat-server/src/services/ChatLlm.ts
  chat-server/src/services/conversations.test.ts
  chat-server/src/services/conversations.ts
  chat-server/src/services/dataStreamer.ts
  chat-server/src/services/openAiChatLlm.ts
  chat-server/src/testHelpers.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

more comment edits
  chat-core/src/Page.ts
  chat-server/src/app.ts
  chat-server/src/processors/makeBoostOnAtlasSearchFilter.ts
  chat-server/src/processors/makePreprocessMongoDbUserQuery.ts
  chat-server/src/services/conversations.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

fix build errs
  chat-server/src/config.ts
  chat-server/src/processors/QueryPreprocessorFunc.ts
  chat-server/src/processors/makePreprocessMongoDbUserQuery.ts
  chat-server/src/routes/conversations/addMessageToConversation.ts
  chat-server/src/services/conversations.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

Conversations refactor (#199)
  chat-server/src/app.test.ts
  chat-server/src/config.ts
  chat-server/src/routes/conversations/FindContentFunc.ts
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
  chat-server/src/routes/conversations/addMessageToConversation.ts
  chat-server/src/routes/conversations/conversationsRouter.test.ts
  chat-server/src/routes/conversations/conversationsRouter.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

remove abstraction from chat-core
  chat-core/src/integrations/mongodb.test.ts
  chat-core/src/integrations/mongodb.ts
  chat-server/src/llmQualitativeTests/edgeCases.test.ts
  chat-server/src/llmQualitativeTests/generateChatTranscript.test.ts
  chat-server/src/llmQualitativeTests/security.test.ts
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
  chat-server/src/routes/conversations/createConversation.test.ts
  chat-server/src/routes/conversations/rateMessage.test.ts
  chat-server/src/services/conversations.test.ts
  chat-server/src/testHelpers.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

update mongodb imports
  chat-core/src/index.ts
  chat-server/src/app.ts
  chat-server/src/llmQualitativeTests/edgeCases.test.ts
  chat-server/src/llmQualitativeTests/generateChatTranscript.test.ts
  chat-server/src/llmQualitativeTests/security.test.ts
  chat-server/src/processors/makeBoostOnAtlasSearchFilter.test.ts
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
  chat-server/src/routes/conversations/createConversation.test.ts
  chat-server/src/routes/conversations/rateMessage.test.ts
  chat-server/src/routes/conversations/rateMessage.ts
  chat-server/src/services/conversations.test.ts
  chat-server/src/services/conversations.ts
  chat-server/src/testHelpers.ts
  ingest/src/DevCenterDataSource.ts
  ingest/src/IngestMetaStore.ts
  ingest/src/commands/all.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

Fix broken tests
  chat-server/src/config.ts
  chat-server/src/processors/makeBoostOnAtlasSearchFilter.test.ts
  chat-server/src/processors/makePreprocessMongoDbUserQuery.test.ts
  chat-server/src/routes/conversations/conversationsRouter.test.ts
  chat-server/src/routes/conversations/createConversation.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

start OpenAiEmbedFunc refactor
  chat-core/src/OpenAiEmbedFunc.test.ts
  chat-core/src/OpenAiEmbedFunc.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

split data stores
  chat-core/src/DatabaseConnection.ts
  chat-core/src/MongoDbDatabaseConnection.ts
  chat-core/src/MongoDbEmbeddedContentStore.test.ts
  chat-core/src/MongoDbEmbeddedContentStore.ts
  chat-core/src/MongoDbPageStore.test.ts
  chat-core/src/MongoDbPageStore.ts
  chat-core/src/OpenAiEmbedFunc.test.ts
  chat-core/src/OpenAiEmbedFunc.ts
  chat-core/src/index.ts
  chat-server/src/config.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

update ingest w new stores
  ingest/package.json
  ingest/src/commands/all.ts
  ingest/src/commands/embed.ts
  ingest/src/commands/pages.ts
  package-lock.json
Due: test-all, staging-build-ingest-service, staging-deploy-ingest-service

configurable reference links
  chat-server/src/config.ts
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
  chat-server/src/routes/conversations/addMessageToConversation.ts
  chat-server/src/routes/conversations/conversationsRouter.ts
  chat-server/src/routes/conversations/index.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

fix bad case
  chat-server/src/llmQualitativeTests/testCases.yaml
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

Make max number messages & tokens in single RAG in conversation configurable
  chat-server/src/routes/conversations/addMessageToConversation.ts
  chat-server/src/routes/conversations/conversationsRouter.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

update tests w new route conf
  chat-server/src/app.ts
  chat-server/src/config.ts
  chat-server/src/llmQualitativeTests/edgeCases.test.ts
  chat-server/src/llmQualitativeTests/generateChatTranscript.test.ts
  chat-server/src/llmQualitativeTests/security.test.ts
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
  chat-server/src/routes/conversations/conversationsRouter.test.ts
  chat-server/src/routes/conversations/createConversation.test.ts
  chat-server/src/routes/conversations/rateMessage.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

update SomeStreamEventUsage
  chat-server/src/services/dataStreamer.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

Move test_data out of source
  ingest/src/embed/chunkOpenApiSpecYaml.test.ts
  ingest/src/embed/chunkPage.test.ts
  ingest/src/index.ts
  ingest/src/sources/DevCenterDataSource.test.ts
  ingest/src/sources/handleHtmlDocument.test.ts
  ingest/src/sources/snooty/SnootyDataSource.test.ts
  ingest/src/sources/snooty/renderSnootyTable.test.ts
  ingest/src/sources/snooty/rstToSnootyAst.test.ts
  ingest/src/sources/snooty/snootyAstToMd.test.ts
  ingest/src/sources/snooty/snootyAstToOpenApiSpec.test.ts
  ingest/src/test_data/snooty_sample_metadata.ts
  ingest/testData/localOpenApiSpecPage.json
  ingest/testData/remoteOpenApiSpecPage.json
  ingest/testData/sampleDevCenterPage.json
  ingest/testData/sampleDevCenterPageWithDivAndImg.md
  ingest/testData/sampleDevCenterPageWithYouTube.md
  ingest/testData/sampleJava.html
  ingest/testData/samplePage.json
  ingest/testData/samplePageWithCodeExamples.json
  ingest/testData/samplePageWithCodeExamples.rst
  ingest/testData/samplePageWithCommentAst.json
  ingest/testData/samplePageWithOrderedList.json
  ingest/testData/samplePageWithTabs.json
  ingest/testData/samplePageWithTabs.md
  ingest/testData/samplePageWithTabsDrivers.json
  ingest/testData/sampleSnootyMultiHeaderTable.json
  ingest/testData/sampleSnootyTable.json
  ingest/testData/snootySampleData.jsonl
  ingest/testData/snootySampleDataWithDeleted.jsonl
  ingest/testData/snootySampleMetadata.json
Due: test-all, staging-build-ingest-service, staging-deploy-ingest-service

Refactor project as lib
  chat-server/package.json
  chat-server/src/app.ts
  chat-server/src/config.ts
  chat-server/src/lib.ts
  chat-server/src/processors/MongoDbUserQueryPreprocessorResponse.ts
  chat-server/src/processors/makePreprocessMongoDbUserQuery.ts
  chat-server/src/routes/conversations/index.ts
  examples/basic-chatbot-server/.env.example
  examples/basic-chatbot-server/package-lock.json
  examples/basic-chatbot-server/package.json
  examples/basic-chatbot-server/src/index.ts
  examples/basic-chatbot-server/tsconfig.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

Undo over-barreling
  ingest/src/commands/all.test.ts
  ingest/src/commands/embed.ts
  ingest/src/commands/pages.ts
  ingest/src/embed/chunkOpenApiSpecYaml.test.ts
  ingest/src/embed/chunkPage.test.ts
  ingest/src/index.ts
  ingest/src/pages/updatePages.ts
  ingest/src/sources/DevCenterDataSource.test.ts
  ingest/src/sources/DevCenterDataSource.ts
  ingest/src/sources/GitDataSource.ts
  ingest/src/sources/handleHtmlDocument.test.ts
  ingest/src/sources/projectSources.ts
  ingest/src/sources/snooty/SnootyDataSource.test.ts
  ingest/src/sources/snooty/renderSnootyTable.test.ts
  ingest/src/sources/snooty/rstToSnootyAst.test.ts
  ingest/src/sources/snooty/snootyAstToMd.test.ts
  ingest/src/sources/snooty/snootyAstToOpenApiSpec.test.ts
Due: test-all, staging-build-ingest-service, staging-deploy-ingest-service

wrap close statements so second doesn't fail even if first does
  ingest/src/commands/all.ts
  ingest/src/commands/embed.ts
Due: test-all, staging-build-ingest-service, staging-deploy-ingest-service

Create test helper directory
  ingest/jest.config.cjs
  ingest/src/embed/updateEmbeddedContent.test.ts
  ingest/src/pages/updatePages.test.ts
  ingest/src/test/MockPageStore.ts
  ingest/src/test/jestSetUp.ts
  ingest/tsconfig.json
Due: test-all, staging-build-ingest-service, staging-deploy-ingest-service

Additional fixes
  ingest/src/commands/all.ts
  ingest/src/sources/RstOnGitHubDataSource.ts
  ingest/src/sources/snooty/SnootyProjectsInfo.ts
Due: test-all, staging-build-ingest-service, staging-deploy-ingest-service

draft overview and new methods
  api-chat.md
  chat-server/src/services/ChatLlm.ts
  chat-server/src/services/openAiApiChatLlm.ts
  chat-server/src/services/openAiChatLlm.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

Add infra todo
  api-chat.md
Due: none

(DOCSP-32482): Build out qualitative tests (#201)
  chat-server/package.json
  chat-server/src/llmQualitativeTests/CheckQualityResult.ts
  chat-server/src/llmQualitativeTests/TestCase.ts
  chat-server/src/llmQualitativeTests/checkResponseQuality.test.ts
  chat-server/src/llmQualitativeTests/checkResponseQuality.ts
  chat-server/src/llmQualitativeTests/edgeCases.test.ts
  chat-server/src/llmQualitativeTests/edgeCasesTests.yaml
  chat-server/src/llmQualitativeTests/generateChatTranscript.ts
  chat-server/src/llmQualitativeTests/getTestCasesFromYaml.ts
  chat-server/src/llmQualitativeTests/qualitative.test.ts
  chat-server/src/llmQualitativeTests/security.test.ts
  chat-server/src/llmQualitativeTests/securityTests.yaml
  chat-server/src/llmQualitativeTests/testCases.yaml
  scripts/assets/qaTests/sept-2023-manual-testing-round.csv
  scripts/assets/qaTests/sept-2023-manual-testing-round.yaml
  scripts/package.json
  scripts/src/createAug2023QualityTestsYaml.ts
  scripts/src/createSept2023QualityTestsYaml.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

update QA server DB name
  chat-server/environments/qa.yml
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

(DOCSP-33744): update QA server DB name for latest snapshot (#210)
  chat-server/environments/qa.yml
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

implement CB feedback
  chat-core/src/extractFrontMatter.ts
  ingest/src/projectSources.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

dev QoL scripts
  chat-ui/src/services/conversations.test.ts
  chat-ui/src/useConversation.tsx
  package.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server
