Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

test-all:
  steps:
  - name: test
    image: node:18
    commands:
    - npm ci
    - npm run build
    - npm run lint
    - npm run test
    environment:
      PORT: 3000
      OPENAI_EMBEDDING_MODEL: text-embedding-ada-002
      OPENAI_EMBEDDING_MODEL_VERSION: 2023-03-15-preview
      MONGODB_DATABASE_NAME: docs-chatbot-test
  ...

staging-build-chat-server:
  steps:
  - name: publish-staging-chat-server
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_PASSWORD:
        from_secret: lg_artifactory_password
      LG_ARTIFACTORY_USERNAME:
        from_secret: lg_artifactory_username
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
  ...

staging-deploy-chat-server:
  steps:
  - name: deploy-staging-chat-server
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/web-app
      chart_version: 4.12.3
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: chat-server-staging
  ...

staging-build-ingest-service:
  steps:
  - name: publish-staging-ingest-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_PASSWORD:
        from_secret: lg_artifactory_password
      LG_ARTIFACTORY_USERNAME:
        from_secret: lg_artifactory_username
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
  ...

staging-deploy-ingest-service:
  steps:
  - name: deploy-staging-ingest-service
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.7.1
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: ingest-service
  ...

staging-build-scripts-service:
  steps:
  - name: publish-staging-scripts-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_PASSWORD:
        from_secret: lg_artifactory_password
      LG_ARTIFACTORY_USERNAME:
        from_secret: lg_artifactory_username
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
  ...

staging-deploy-scripts-service:
  steps:
  - name: deploy-staging-scripts-service
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.7.1
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: scripts-service
  ...

fix build issues
  chat-server/src/index.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

Release mongodb-rag-core v0.0.2-7
  chat-core/package.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

add publish env vars
  .drone.yml
Due: none

Release mongodb-rag-core v0.0.2-8
  chat-core/package.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

trigger ingest staging build
  ingest/trigger.me
Due: test-all, staging-build-ingest-service, staging-deploy-ingest-service

hack drone to trigger builds
  .drone.yml
Due: none

trigger ingest build again
  ingest/trigger.me
Due: test-all, staging-build-ingest-service, staging-deploy-ingest-service

retry drone
  .drone.yml
  ingest/trigger.me
Due: test-all, staging-build-ingest-service, staging-deploy-ingest-service

fix build commands
  ingest-service.dockerfile
  ingest/trigger.me
  package.json
  scripts-service.dockerfile
Due: test-all, staging-build-ingest-service, staging-deploy-ingest-service

(DOCSP-33030) [Q&A] Record request origin for usage tracking
  chat-server/src/routes/conversations/addMessageToConversation.ts
  chat-server/src/routes/conversations/createConversation.ts
  chat-server/src/routes/conversations/utils.ts
  chat-server/src/services/conversations.ts
  design-docs/openapi.yml
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

simplify dockerfile
  ingest-service.dockerfile
Due: none

make ingest a node executable
  ingest-mongodb-public/package.json
  ingest/src/main.ts
Due: test-all, staging-build-ingest-service, staging-deploy-ingest-service

Release mongodb-rag-core v0.0.2
  chat-core/package.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

update package.json files with files to include in release
  chat-core/package.json
  chat-server/package.json
  ingest/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

Release mongodb-rag-core v0.0.3
  chat-core/package.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

Add simple readme to core
  chat-core/README.md
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

Release mongodb-rag-core v0.0.4
  chat-core/package.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

update ingest version of core to latest working
  ingest/package.json
Due: test-all, staging-build-ingest-service, staging-deploy-ingest-service

update monorepo chatcore version
  package-lock.json
Due: none

Release mongodb-rag-ingest v0.1.4
  ingest/package.json
  package-lock.json
Due: test-all, staging-build-ingest-service, staging-deploy-ingest-service

update dependencies to latest in mongodb ingest
  ingest-mongodb-public/package.json
Due: none

update package-lock.json w new deps
  package-lock.json
Due: none

update package-lock
  package-lock.json
Due: none

trigger build of ingest-mongodb-public to test drone
  .drone.yml
  ingest-mongodb-public/trigger.me
Due: none

make CLI entry point executable
  ingest/package.json
  package-lock.json
Due: test-all, staging-build-ingest-service, staging-deploy-ingest-service

update lock
  package-lock.json
Due: none

Release mongodb-rag-ingest v0.1.5
  ingest/package.json
  package-lock.json
Due: test-all, staging-build-ingest-service, staging-deploy-ingest-service

update mongodb ingest to use latest ingest CLI
  ingest-mongodb-public/package.json
Due: none

update executable path
  ingest-mongodb-public/package.json
  package-lock.json
Due: none

(DOCSP-34007) [UI] Font size & spacing issues on live docs site
  chat-ui/src/Message.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chat-server

update chat-server.dockerfile
  chat-server.dockerfile
Due: none

Trigger staging build of mongodb server
  .drone.yml
  chatbot-server-mongodb-public/trigger.me
Due: none

update chat-core dependency
  chat-server/package.json
  chat-ui/package.json
  chatbot-server-mongodb-public/package.json
  chatbot-server-mongodb-public/src/config.ts
  chatbot-server-mongodb-public/src/index.ts
  chatbot-server-mongodb-public/src/jestSetUp.ts
  chatbot-server-mongodb-public/src/llmQualitativeTests/checkResponseQuality.test.ts
  chatbot-server-mongodb-public/src/llmQualitativeTests/generateChatTranscript.test.ts
  chatbot-server-mongodb-public/src/llmQualitativeTests/meetsChatQualityStandardsJestExtension.ts
  chatbot-server-mongodb-public/src/llmQualitativeTests/qualitative.test.ts
  chatbot-server-mongodb-public/src/processors/makePreprocessMongoDbUserQuery.test.ts
  chatbot-server-mongodb-public/src/processors/makePreprocessMongoDbUserQuery.ts
  chatbot-server-mongodb-public/src/test/testHelpers.ts
  chatbot-server-mongodb-public/src/utils.ts
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

fix build err from test
  chat-ui/src/services/conversations.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server

update chatbot ui out destination
  chat-ui/vite.config.static-site.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server

update npm chat-core publish config
  .drone.yml
  .npmrc
Due: none

Release mongodb-rag-core v0.0.5-0
  chat-core/package.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

Release mongodb-rag-core v0.0.5-1
  chat-core/package.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

fix drone script
  .drone.yml
Due: none

Release mongodb-rag-core v0.0.5-2
  chat-core/package.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

Path conditions:
  test-all: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*, ingest/**/*, scripts/**/*
  staging-build-chat-server: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*
  staging-deploy-chat-server: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*
  staging-build-ingest-service: any of: ingest/**/*, chat-core/**/*
  staging-deploy-ingest-service: any of: ingest/**/*, chat-core/**/*
  staging-build-scripts-service: any of: scripts/**/*, chat-core/**/*, chat-server/**/*
  staging-deploy-scripts-service: any of: scripts/**/*, chat-core/**/*, chat-server/**/*
