Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

Path conditions:
  test-all: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*, ingest/**/*, scripts/**/*
  staging-build-chat-server: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*
  staging-deploy-chat-server: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*
  staging-build-ingest-service: any of: ingest/**/*, chat-core/**/*
  staging-deploy-ingest-service: any of: ingest/**/*, chat-core/**/*
  staging-build-scripts-service: any of: scripts/**/*, chat-core/**/*, chat-server/**/*
  staging-deploy-scripts-service: any of: scripts/**/*, chat-core/**/*, chat-server/**/*

update release conf
  .release-it.json
  CONTRIBUTING.md
  chat-server/.release-it.json
  chat-server/package.json
  chat-ui/.release-it.json
  chat-ui/package.json
  ingest-mongodb-public/.release-it.json
  ingest-mongodb-public/package.json
  ingest/.release-it.json
  ingest/package.json
  package-lock.json
  package.json
  scripts/.release-it.json
  scripts/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

add release-it to chat-core
  chat-core/.release-it.json
  chat-core/package.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

update version
  chat-core/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

Release mongodb-rag-core v0.0.1
  chat-core/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

Release mongodb-rag-core v0.0.2-2
  chat-core/package.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

add changelog setup
  chat-core/.release-it.json
  chat-core/package.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

release notes/changelog
  chat-core/.release-it.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

Add changelog
  chat-core/.release-it.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

Release mongodb-rag-core v0.0.2-3
  chat-core/package.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

all
  chat-core/.release-it.json
  outside.commit
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

inside
  chat-core/inside.commit
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

add outside commit (shouldn't see)
  outside.commit
Due: none

inside (should see)
  chat-core/inside.commit
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

update release conf
  chat-core/.release-it.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

remove from / to from github
  chat-core/.release-it.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

Release mongodb-rag-core v0.0.2-4
  chat-core/package.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

configure so that publishes package from creation of gh tag via drone
  .drone.yml
  chat-core/.release-it.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

sampleAndSaveMarkdownPages
  scripts/package.json
  scripts/src/sampleAndSaveMarkdownPages.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

add .drone pipelines to deploy new npm packages
  .drone.yml
Due: none

Release mongodb-rag-core v0.0.2-5
  chat-core/package.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

update ingest conf
  ingest/.release-it.json
Due: test-all, staging-build-ingest-service, staging-deploy-ingest-service

update deps
  ingest/.release-it.json
  ingest/package.json
Due: test-all, staging-build-ingest-service, staging-deploy-ingest-service

add non prerelease version
  ingest/package.json
Due: test-all, staging-build-ingest-service, staging-deploy-ingest-service

Release mongodb-rag-ingest v0.1.3
  ingest/package.json
  package-lock.json
Due: test-all, staging-build-ingest-service, staging-deploy-ingest-service

update core + ingest release conf
  chat-core/.release-it.json
  chat-core/inside.commit
  ingest/.release-it.json
  outside.commit
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

remove release-it from monorepo conf
  .release-it.json
  package.json
Due: none

update drone names
  .drone.yml
Due: none

add new npm creds
  .drone.yml
Due: none

update pub flow to speed up testing
  .drone.yml
Due: none

Release mongodb-rag-core v0.0.2-6
  chat-core/package.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

update package files to use
  chat-server/package.json
  chat-ui/package.json
  package-lock.json
  package.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

update core version in server
  chat-server/package.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

working chat server
  chat-server/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

(DOCSP-33938) [UI] Fix nested newline spacing
  chat-ui/src/Message.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chat-server

remove chat-server tests from prod build
  chat-server/jest.config.json
  chat-server/package.json
  chat-server/src/app.test.ts
  chat-server/src/index.ts
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
  chat-server/src/routes/conversations/conversationsRouter.test.ts
  chat-server/src/routes/conversations/createConversation.test.ts
  chat-server/src/routes/conversations/rateMessage.test.ts
  chat-server/src/services/conversations.test.ts
  chat-server/src/services/openAiChatLlm.test.ts
  chat-server/src/test/README.md
  chat-server/src/test/jestEnvSetUp.ts
  chat-server/src/test/jestSetUp.ts
  chat-server/src/test/testConfig.ts
  chat-server/src/test/testHelpers.ts
  chat-server/src/test/testPreProcessor.ts/MongoDbUserQueryPreprocessorResponse.ts
  chat-server/src/test/testPreProcessor.ts/makePreprocessMongoDbUserQuery.ts
  chat-server/tsconfig.build.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

remove chatbot-server-mongodb-public tests from prod build
  chatbot-server-mongodb-public/package.json
  chatbot-server-mongodb-public/src/llmQualitativeTests/generateChatTranscript.test.ts
  chatbot-server-mongodb-public/src/test/README.md
  chatbot-server-mongodb-public/src/test/testHelpers.ts
  chatbot-server-mongodb-public/tsconfig.build.json
Due: none

make ingest tests pass
  ingest/testData/config/configTest.cjs
Due: test-all, staging-build-ingest-service, staging-deploy-ingest-service

fix broken server tests
  chat-server/jest.config.json
  chat-server/package.json
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
  chat-server/src/test/testConfig.ts
  chat-server/src/test/testPreProcessor/MongoDbUserQueryPreprocessorResponse.ts
  chat-server/src/test/testPreProcessor/makePreprocessMongoDbUserQuery.ts
  chat-server/tsconfig.build.json
  chat-server/tsconfig.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

fix flaky tests
  chat-ui/package.json
  ingest/src/sources/DevCenterDataSource.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service
