Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

test-all:
  steps:
  - name: test
    image: node:18
    commands:
    - npm ci
    - npm run build
    - npm run lint
    - npm run test
    environment:
      PORT: 3000
      OPENAI_EMBEDDING_MODEL: text-embedding-ada-002
      OPENAI_EMBEDDING_MODEL_VERSION: 2023-03-15-preview
      MONGODB_DATABASE_NAME: docs-chatbot-test
  ...

staging-build-chat-server:
  steps:
  - name: publish-staging-chat-server
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_PASSWORD:
        from_secret: lg_artifactory_password
      LG_ARTIFACTORY_USERNAME:
        from_secret: lg_artifactory_username
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
  ...

staging-deploy-chat-server:
  steps:
  - name: deploy-staging-chat-server
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/web-app
      chart_version: 4.12.3
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: chat-server-staging
  ...

staging-build-ingest-service:
  steps:
  - name: publish-staging-ingest-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_PASSWORD:
        from_secret: lg_artifactory_password
      LG_ARTIFACTORY_USERNAME:
        from_secret: lg_artifactory_username
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
  ...

staging-deploy-ingest-service:
  steps:
  - name: deploy-staging-ingest-service
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.7.1
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: ingest-service
  ...

staging-build-scripts-service:
  steps:
  - name: publish-staging-scripts-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_PASSWORD:
        from_secret: lg_artifactory_password
      LG_ARTIFACTORY_USERNAME:
        from_secret: lg_artifactory_username
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
  ...

staging-deploy-scripts-service:
  steps:
  - name: deploy-staging-scripts-service
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.7.1
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: scripts-service
  ...

update drone publication pipelines
  .drone.yml
Due: none

Release mongodb-rag-ingest v0.1.6-0
  ingest/package.json
  package-lock.json
Due: test-all, staging-build-ingest-service, staging-deploy-ingest-service

fix drone file
  .drone.yml
  package-lock.json
Due: none

Release mongodb-rag-ingest v0.1.6-1
  ingest/package.json
  package-lock.json
Due: test-all, staging-build-ingest-service, staging-deploy-ingest-service

bunlde chat-core in ingest
  ingest/package.json
Due: test-all, staging-build-ingest-service, staging-deploy-ingest-service

update lock file
  package-lock.json
Due: none

Release mongodb-rag-ingest v0.1.6-2
  ingest/package.json
  package-lock.json
Due: test-all, staging-build-ingest-service, staging-deploy-ingest-service

Add missing typechat dep
  chat-core/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

make ingest reexport core
  ingest/package.json
  ingest/src/core.ts
  package-lock.json
Due: test-all, staging-build-ingest-service, staging-deploy-ingest-service

remove unused bundled dep
  ingest/package.json
  package-lock.json
Due: test-all, staging-build-ingest-service, staging-deploy-ingest-service

Release mongodb-rag-core v0.0.5-3
  chat-core/package.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

Release mongodb-rag-core v0.0.5
  chat-core/package.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

update dependent packages
  chat-server/package.json
  chat-ui/package.json
  ingest-mongodb-public/package.json
  ingest/package.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-ingest-service, staging-deploy-ingest-service, staging-build-scripts-service, staging-deploy-scripts-service

update lock
  package-lock.json
Due: none

Release mongodb-rag-ingest v0.1.6
  ingest/package.json
  package-lock.json
Due: test-all, staging-build-ingest-service, staging-deploy-ingest-service

update drone
  .drone.yml
Due: none

remove test from release-it b/c covered in CI
  chat-server/.release-it.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

remove unused dep
  chat-server/.release-it.json
  chat-server/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

update release conf
  chat-server/.release-it.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

update core version
  chat-server/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

Release mongodb-chatbot-server v0.1.9
  chat-server/package.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

refactor chatbot server to use latest versions
  examples/basic-chatbot-server/package-lock.json
  examples/basic-chatbot-server/package.json
  examples/basic-chatbot-server/src/index.ts
Due: none

remove trigger files
  chatbot-server-mongodb-public/trigger.me
  ingest-mongodb-public/trigger.me
  ingest/trigger.me
Due: test-all, staging-build-ingest-service, staging-deploy-ingest-service

clean drone up after changes for development
  .drone.yml
Due: none

update contributor guide
  CONTRIBUTING.md
Due: none

(DOCSP-34007) [UI] Font size & spacing issues on live docs site (#235)
  chat-ui/src/Message.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chat-server

(DOCSP-33938) [UI] Fix nested newline spacing (#233)
  chat-ui/src/Message.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chat-server

(EAI-123) [UI] Replace chat-core with mongodb-rag-core
  chat-ui/package.json
  chat-ui/src/index.tsx
  chat-ui/src/services/conversations.test.ts
  chat-ui/src/services/conversations.ts
  chat-ui/src/useConversation.tsx
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server

WIP - refactor conversations db service + get other tests passing
  chat-server/src/llmQualitativeTests/generateChatTranscript.ts
  chat-server/src/middleware/requestOrigin.test.ts
  chat-server/src/middleware/requestOrigin.ts
  chat-server/src/middleware/validateRequestSchema.ts
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
  chat-server/src/routes/conversations/addMessageToConversation.ts
  chat-server/src/routes/conversations/conversationsRouter.test.ts
  chat-server/src/routes/conversations/conversationsRouter.ts
  chat-server/src/routes/conversations/createConversation.test.ts
  chat-server/src/routes/conversations/createConversation.ts
  chat-server/src/routes/conversations/rateMessage.test.ts
  chat-server/src/services/conversations.test.ts
  chat-server/src/services/conversations.ts
  chat-server/src/testHelpers.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

WIP - add requestOrigin tests
  chat-server/src/middleware/requestOrigin.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

remove log
  chat-server/src/middleware/validateRequestSchema.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

WIP - convert addMessageToConversation
  chat-server/src/app.ts
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
  chat-server/src/routes/conversations/addMessageToConversation.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

(EAI-123) [UI] Replace chat-core with mongodb-rag-core (#236)
  chat-ui/package.json
  chat-ui/src/index.tsx
  chat-ui/src/services/conversations.test.ts
  chat-ui/src/services/conversations.ts
  chat-ui/src/useConversation.tsx
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chat-server

(DOCSP-33030) [Q&A] Record request origin for usage tracking (#234)
  chat-server/src/app.ts
  chat-server/src/llmQualitativeTests/generateChatTranscript.ts
  chat-server/src/middleware/requestOrigin.test.ts
  chat-server/src/middleware/requestOrigin.ts
  chat-server/src/middleware/validateRequestSchema.ts
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
  chat-server/src/routes/conversations/addMessageToConversation.ts
  chat-server/src/routes/conversations/conversationsRouter.test.ts
  chat-server/src/routes/conversations/conversationsRouter.ts
  chat-server/src/routes/conversations/createConversation.test.ts
  chat-server/src/routes/conversations/createConversation.ts
  chat-server/src/routes/conversations/rateMessage.test.ts
  chat-server/src/routes/conversations/utils.ts
  chat-server/src/services/conversations.test.ts
  chat-server/src/services/conversations.ts
  chat-server/src/testHelpers.ts
  design-docs/openapi.yml
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

(EAI-137) [Q&A] Custom request origins
  chat-server/src/middleware/requestOrigin.test.ts
  chat-server/src/middleware/requestOrigin.ts
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
  chat-server/src/routes/conversations/createConversation.test.ts
  chat-ui/src/services/conversations.test.ts
  chat-ui/src/services/conversations.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

get the header name right
  chat-server/src/middleware/requestOrigin.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

make tests use 'case-insensitive' header names
  chat-server/src/middleware/requestOrigin.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

reference header variable in error message
  chat-server/src/middleware/requestOrigin.ts
Due: test-all, staging-build-chat-server, staging-deploy-chat-server, staging-build-scripts-service, staging-deploy-scripts-service

Path conditions:
  test-all: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*, ingest/**/*, scripts/**/*
  staging-build-chat-server: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*
  staging-deploy-chat-server: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*
  staging-build-ingest-service: any of: ingest/**/*, chat-core/**/*
  staging-deploy-ingest-service: any of: ingest/**/*, chat-core/**/*
  staging-build-scripts-service: any of: scripts/**/*, chat-core/**/*, chat-server/**/*
  staging-deploy-scripts-service: any of: scripts/**/*, chat-core/**/*, chat-server/**/*
